<h1>{{title}}</h1>
<form class="" action="/add" method="post">
  <input type="text" name="name" value="" placeholder="your name">
  <textarea name="body" value="" placeholder="add text"></textarea>

  <button type="submit">Add post</button>
</form>

<a href= "/"> Click to go back to blog</a>
