<h1>{{post.body}}</h1>
<form class="" action="/{{post.id}}/edit_post" method="post">

  <textarea name="body" value="" placeholder="add text"></textarea>

  <button type="submit">edit post</button>
</form>
